body{margin: 0; background: Drgb(94, 94, 121); color: rgb(35, 32, 32); font-family: sans-serif; text-align:center; line-height: 1.5;}
    label, input {font-size: 20px; padding: 0.5em; } 
    #dice-chooser {margin: 2em;}
    #numsides { width: 2em; border-radius: 10px;} 
    button { background:blue; color: black; font-size: 20px;padding: 1em 2em; border-radius: 10px;}